/* Resetando algumas propriedades */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Corpo */
  body {
    font-family: Arial, sans-serif;
    background-color: #2c2c2c;
  }
  
  
  /* Cabeçalho */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #202020;
    color: white;
  }
  
  .logo{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  header .logo h1 {
    font-size: 24px;
  }
  
  header .search-bar input {
    padding: 8px;
    width: 400px;
    border-radius: 20px;
    border: none;
  }
  
  header .profile img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  
  
   /* Conteúdo Principal */
  .container {
    display: grid;
    margin-bottom: 20px;
    
  }
  .tck-grande{
    display: grid;
    grid-row: 1 / 5; /* Foto grande ocupa 3 linhas */
    margin: 30px;  
    justify-self: start;
    margin: 20;
    padding: 0;
    display: block;
    border: none;
  }
  .tck-grande h2{
    color: white;
  }
  .tck-grande p{
    color: white;
  }

  .like-dislike-section {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
  }
  
  button {
    padding: 10px 20px;
    font-size: 8px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .like-button {
    background-color:#4f4f4f; 
    color: white;
  }
  
  .like-button:hover {
    background-color:#4f4f4f; 
  }
  
  .dislike-button {
    background-color: #4f4f4f; 
    color: white;
  }
  
  .dislike-button:hover {
    background-color:#4f4f4f;
  }
  
  .canal{
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: start;
    align-self: start;
    align-items: center;
  }
  
  .canal h1{
    font-size: 13px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center; 
    column-gap: 5px;
    color: white;
  }
  
  .canal img{
  
    border-radius: 50px;
  }
  
  .content {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Foto grande ocupa 2 partes, fotos pequenas 1 */
    gap: 10px; /* Espaço entre os elementos */
  }
  
  .tck-pequeno{
    display: grid;
    grid-template-columns:repeat(1, 1fr);
    size-adjust: auto;
    justify-content: end; 
    align-items: center;
  }
  .tck-pequeno {
    display: grid; 
    grid-template-columns: auto 1fr;
    align-items: center; /* Alinha os itens verticalmente */
    justify-content: space-between; /* Espaça os itens horizontalmente */
  }
  
  .tck-pequeno img {
    border-bottom: 2px solid #ddd;
    gap: 10px;
  }
  
  .tck-pequeno h3 {
    font-size: 18px;
    margin: 10px;
    color: white;
  }
  
  .tck-pequeno p {
    margin: 10px;
  color:#555;
  }